<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=animal.name%></title>
  </head>
  <body>
    <h1><%=animal.name %></h1>
    <ul>
      <li>
        Type: <a href="/animals?type=<%=animal.type %>"><%=animal.type %></a>
      </li>
      <li>
        Breed:
        <%=animal.breed %></a>
      </li>
      <li>
        Gender:
        <%=animal.gender %></a>
      </li>
      <li>Age: <%=animal.age%></li>
      <li>
        Healthy?
        <%=animal.health %></a>
      </li>
      <li>Adoption Status<%=animal.adoptionStatus%></li>
    </ul>
    <a href="/animals">All animals</a>
    <a href="/animals/<%=animal._id%>/edit">Edit</a>
    <form action="/animals/<%=animal._id%>?_method=DELETE" method="post">
      <button>Delete</button>
    </form>
  </body>
</html>
